
/* Invisible left hotspot */
div.scrollingHotSpotLeft
{
    position: absolute;
    z-index: 200;
    left: 0;

    width: 10%;
    min-width: 75px;
    height: 100%;

    cursor: pointer;

    background-image: url(image/big_transparent.gif);
    background-repeat: repeat;
    background-position: center center;
}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible
{
         opacity: .35; /* Standard CSS3 opacity setting */
    background-color: #fff;
    background-image: url(image/arrow_left.png);
    background-repeat: no-repeat;

    -moz-opacity: .35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
    filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
}

/* Invisible right hotspot */
div.scrollingHotSpotRight
{
    position: absolute;
    z-index: 200;
    right: 0;

    width: 10%;
    min-width: 75px;
    height: 100%;

    cursor: pointer;

    background-image: url(image/big_transparent.gif);
    background-repeat: repeat;
    background-position: center center;
}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
         opacity: .35;
    background-color: #fff;
    background-image: url(image/arrow_right.png);
    background-repeat: no-repeat;

    filter: alpha(opacity = 35);
    -moz-opacity: .35;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
    position: relative;

    overflow: hidden;

    width: auto;
    height: 100%;
}

div.scrollableArea
{
    position: relative;

    width: auto;
    height: 100%;
}


.client-logo
{
    height: 50px;
}


#makeMeScrollable
{
    position: relative;

    width: 100%;
    height: 100px;
}

/* Replace the last selector for the type of element you have in
   your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
   if you have links use #makeMeScrollable div.scrollableArea a and so on. */
#makeMeScrollable div.scrollableArea img
{
    position: relative;

    float: left;

    margin: 20px;
    padding: 0;
    /* If you don't want the images in the scroller to be selectable, try the following
       block of code. It's just a nice feature that prevent the images from
       accidentally becoming selected/inverted when the user interacts with the scroller. */

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

     -khtml-user-select: none;
         -o-user-select: none;
}

.partners__description
{
    text-transform: uppercase;
}
