.audio-btn{
    border-radius: 5px;
    height: 40px;
    fill:#b2dfdb;
    opacity: 0.5;
    position: absolute;
    left: 0;
    margin-left: 0;
    bottom: 20px;
    transition: 1s;
    cursor: pointer;

}