.carousel-main-container{
    background-color: rgb(243, 243, 243);

}

.quoted-text{
    margin: 0;
}

.feedback svg {
    fill: #b2dfdb;
}


.carousel-indicators li {
    border-color: #b2dfdb;
}

.carousel-indicators .active {
    background-color: #b2dfdb;
}


.feedback-header{
    padding: 20px 0;
}



.carousel-indicators > li, .carousel-indicators > li.active{
    margin: 0 6px;
    vertical-align: middle;
}

.wrapper{
    display: inline-block;
}


/*<------------------------->*/
.new-feedback.row{
    background-color: rgb(243, 243, 243);
    padding: 0;

}

.client-say{
    padding: 0 30px 55px 30px;
}

.person-name {
    color: #b2dfdb;
    font-weight: bold;
}

.new-feedback .carousel-control {
    width: 6%;
    background: none;
}