.feedback{
    padding: 0 50px 50px 50px;
    /*background-color: rgb(243, 243, 243);*/
}

.carousel-main-container{
    background-color: rgb(243, 243, 243);

}

.quoted-text{
    margin: 0;
}

.feedback svg {
    fill: #b2dfdb;
}


.carousel-indicators li {
    border-color: #b2dfdb;
}

.carousel-indicators .active {
    background-color: #b2dfdb;
}

.person-name {
    color: #b2dfdb;
    font-weight: bold;
}
.feedback-header{
    padding: 20px 0;
}

.feedback .carousel-control {
    width: 6%;
    background: none;
    bottom: 33%;
}

.carousel-indicators > li, .carousel-indicators > li.active{
    margin: 0 6px;
    vertical-align: middle;
}
