.carousel-indicators li
{
    border-color: #b2dfdb;
}

.carousel-indicators .active
{
    background-color: #b2dfdb;
}

.carousel-indicators > li,
.carousel-indicators > li.active
{
    margin: 0 6px;

    vertical-align: middle;
}

.new-feedback.row
{
    margin: 20px 0;
    margin-right: 0;
    margin-left: 0;
    padding: 0;

    background-color: rgb(243, 243, 243);
}

.client-say
{
    padding: 0 30px 55px 30px;
}

.person-name
{
    font-weight: bold;

    color: #b2dfdb;
}

.new-feedback .carousel-control
{
    bottom: 30%;

    width: 6%;

    background: none;
}

.carousel-header
{
    padding: 30px 0 10px 0;
}

.carousel-control.right
{
    right: -10px;
}
